*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.container{
    background-color:black;
}
.container h1 {
    color: white;
}
.conten1{
    color:#03F46E;
    font-size: 23px;
    text-decoration: underline dotted;
}
.conten2{
    color:#03F46E;
    font-size: 23px;
    text-decoration: underline dotted;
}