body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.container {
    width: 50%;
}
.card {
            background-color: #D9EAF2;
            padding: 10px 16px;
            border-radius: 8px;
        }
        .card h3 {
            line-height: 3px;
        }
        .card p {
            line-height: 3px;
        }
        .card + .card {
            margin: 10px 0;
        }
        .card:hover {
            background-color: #BEE2F4;
            cursor: pointer;
        }