* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #7D3E1A;
    height: 320px;
    position: relative;
}
.header-left {
    position: absolute;
    left: 60px;
    top: 30px;
}
.header-left-two h1 {
    font-size: 33px;
    font-weight: 700;
    color: #DED7CC;
    font-family: Inknut Antiqua;
}
.header-right ul {
    display: flex;
    gap: 65px;
    align-items: center;
    position: absolute;
    top: 143px;
    right: 96px;
}
.header-right ul li .menu {
    font-size: 30px;
    color: #FF7700;
    font-family: Inknut Antiqua;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 0px;
    letter-spacing: 0%;
}
.header-right ul li .contact {
    font-size: 30px;
    font-family: Inknut Antiqua;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 0px;
    letter-spacing: 0%;
    color: white;
}
main {
    background-color: #272B33;
    height: 1450px;
    position: relative;
    
}
main h1 {
    color:#DED7CC;
    font-family: Inknut Antiqua;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 0;
    
}

.main-ourmenu .main-ourmenu-one {
    width: 334px;
    height: 463px;
    /* border: 1px solid red; */
}
.main-ourmenu-one-bottom {
    background-color: #291F15;
    height: 150px;
}
.main-ourmenu-one-bottom h2 {
    font-family: Inknut Antiqua;
    font-weight: bold;
    font-style: Bold;
    font-size: 29px;
    line-height: 50px;
    letter-spacing: 0%;
    color: #DED7CC;
    margin-left: 20px;

}
img {
    width: 100%;
}
.main-ourmenu-one-bottom p {
    font-family: Inknut Antiqua;
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #DED7CC;
    width: 300px;
    height: 60px;
    margin-left: 20px;
}
.main-first {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    left: 54px;
    top: 110px;
}
footer {
    height: 370px;
    margin-top: 10px;
    position: relative;
     background-color: #272B33;
}
.footer-content .slogan h1 {
    width: 429px;
    height: 240px;
    font-family: Inknut Antiqua;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 0%;
    color: #DED7CC;
    position: absolute;
    left: 105px;
    top: 70px;
}
.footer-banner {
    display: flex;
    gap: 40px;
    position: absolute;
    left: 483px;
    top: 55px;
}
.footer-banner-one p {
    width: 186px;
    height: 100px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #DED7CC;
}
.footer-banner-two p {
    width: 133px;
    height: 100px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0%;
    color: #DED7CC;

}
.footer-banner-three {
    width: 606px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 50px;
    letter-spacing: 0%;
    color:#DED7CC ;
}

